div {
  display: block;
  height: 40px;
  background: green
}

header {
  display: block;
  height: 250px;
  background: blue
}

main {
  display: block;
  height: 350px;
  background: yellow;
}

div ul a {
  color: orange;
  font-size: 25px;
  text-decoration: none;
  border: solid black 1.5px;
  margin: 10px;
}
div ul {
  margin-top: 5px;
}